{
  "NSPrivacyAccessedAPITypes": [
    {
      "NSPrivacyAccessedAPIType": "NSPrivacyAccessedAPICategoryUserDefaults",
      "NSPrivacyAccessedAPITypeReasons": ["CA92.1"]
    },
    {
      "NSPrivacyAccessedAPIType": "NSPrivacyAccessedAPICategoryPhotoLibrary", 
      "NSPrivacyAccessedAPITypeReasons": ["CA57.1"]
    },
    {
      "NSPrivacyAccessedAPIType": "NSPrivacyAccessedAPICategoryCamera",
      "NSPrivacyAccessedAPITypeReasons": ["CA51.1"] 
    }
  ]
}
